<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>The Kafkaa</title>
    {% endif %}
    <meta name="description" content="Kafka's personal site" />
    <meta name="author" content="kafka" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/kafka.ico" />
  </head>
  <body>
    <header>
      <h1>The Kafkaa</h1>
      <nav>
        <span><a href="/">Home</a></span
        >| <span><a href="/blog">Blog</a></span
          >
        | 
        <span><a href="/about">About</a></span>
      </nav>
      <!-- <div class="search-container">
        <input id="search" type="search" placeholder="🔎 Site Search" />
        <button>go</button>
        <div class="search-results">
          <div class="search-results__items"></div>
        </div>
      </div> -->
    </header>
    <hr />
    <main>{% block content %}{% endblock %}</main>
    <hr />

    <aside>
      <section id="grunge"></section>
      <section>
        <blockquote>
          ❝ What I wouldn't give to be normal.<br />
          &nbsp &nbsp &nbsp To live in that bubble of a naive. ❞
        </blockquote>
      </section>
    </aside>
    <footer>
      <nav>
        <a href="https://landchad.net" target="_blank">
          <img
            src="/images/footer-btns/landchad.gif"
            target="_blank"
            alt="landchad.net"
          />
        </a>
        <img src="/images/footer-btns/thevoid.gif" alt="powered-by-void" />

        <a href="https://wiby.me" target="_blank">
          <img
            src="/images/footer-btns/wiby.gif"
            target="_blank"
            alt="wiby.me"
          />
        </a>

      
      </nav>
      <br />
      <span>
        &copy Copyright 2023 <a href="">The Kafkaa</a>. All rights reserved.
      </span>
    </footer>
  </body>
  <!-- <script src="/elasticlunr.min.js"></script>
  <script src="/search_index.en.js"></script>
  <script src="/js/search.js"></script> -->
  <script src="/js/script.js"></script>
</html>
