{% extends "base.html" %} {% block content %}
<div class="container">
  <article>
    <p class="index-hr">
      Hello there. If truth be told, I am just a nobody.
    </p> 
    <p class="index-hr">
      A little note from Albert Camus.
    </p>
    <blockquote>
      “Find meaning. Distinguish melancholy from sadness. Go out for a walk. It
      doesn’t have to be a romantic walk in the park, spring at its most
      spectacular moment, flowers and smells and outstanding poetical imagery
      smoothly transferring you into another world. It doesn’t have to be a walk
      during which you’ll have multiple life epiphanies and discover meanings no
      other brain ever managed to encounter. Do not be afraid of spending
      quality time by yourself. Find meaning or don’t find meaning but 'steal'
      some time and give it freely and exclusively to your own self. Opt for
      privacy and solitude. That doesn’t make you antisocial or cause you to
      reject the rest of the world. But you need to breathe. And you need to
      be.”
    </blockquote>
  </article>

  <article>
    <h4>Website Guide</h4>
    <ul>
      <li><a href="/blog/atom.xml">Atom Feed</a> for my blogs.</li>
      <li>
        If you find this website ugly -
        <a href="http://motherfuckingwebsite.com">It's minimal</a>.
      </li>
      <li>This website was started on 28/04/2023.</li>
    </ul>
  </article>
</div>
{% endblock content %}
